.hero-overlay {
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 40%;
    background-color: black;
}

.hero-text-container {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: white;
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    height: 100%;
}
